.mastery-display{
    width: 665px;
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #7B4F17;
}

.number-display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* width: 400px; */
}

.scale{
    display: flex;
    justify-content: center;
    gap: 55px;
    /* width: 400px; */
}
