.navbar {
    display: flex;
    align-items: center;
    background: black;
    height: 98px;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 7;
}

.navbar-logo {
    height: 72px;
    width: 72px;
}
