.login-modal-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.login-modal-hdr {
    display: flex;
    flex-direction: column;
}

.x {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.header-lfm {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    font-family: "Mont Bold", Mont, sans-serif;
    width: 340px;
}
