.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-areas-lf {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-label {
    font: 25px;
    font-weight: bolder;
    font-family: "Mont Bold", Mont, sans-serif;
    color: #7B4F17;
}

.input-field {
    background-color: transparent;
    border: none;
    width: 340px;
    height: 34px;
    outline: none;
    border-bottom: 1px solid #7B4F17;
}

.login-form-buttons {
    display: flex;
    gap: 16px;
}

.login-button {
    border: none;
    color: white;
    background-color: #CECECE;
    width: 150px;
    height: 50px;
    background: url(https://www.runescape.com/img/rsp777/hiscores/search_box.gif) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 23px;
}

.login-button:hover {
    border-radius: 8px;
    box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.7);
}
