.user-navbar-container {
    background: url('https://www.runescape.com/img/rsp777/bg2.jpg') repeat-y center top;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://www.runescape.com/img/rsp777/bg2.jpg");
  margin: 0 auto;
  overflow-y: hidden;
  padding: 0 50px;
  height: 148px;
  width: 915px;
}

.user-navbar-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 45px;
}

.session-user-name {
  color: #7B4F17;
  font-size: x-large;
}
