.background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

.background-img {
    object-fit: cover;
}

.splash-nav {
    width: 100vw;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
}

.splash-text-container {
    width: 75%;
    margin-left: 69px;
    position: relative;
    top: 115px;
    gap: 5px;
}

.splash-text {
    margin: 0;
    font-size: 125px;
    color: #e1bb34;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 8px;
    font-size: calc(66px + 84 * ((100vw - 320px ) / 1600 ));
}

.splash-text-two {
    margin: 0;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-left: 8px;
    font-size: calc(21px + 12 * ((100vw - 320px ) / 1600 ));
}

.modal-area {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.modal-div-nb {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://www.runescape.com/img/rsp777/hiscores/search_box.gif) no-repeat;
    width: 155px;
    height: 98px;
    color: white;
}

.about-links {
    display: flex;
    gap: 10px;
    width: 100vw;
    bottom: 25px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.a-links {
    cursor: pointer;
    text-decoration: none;
}
