.deck-container {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-bottom: 1px solid #6B7B17;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.deck-link {
    text-decoration: none;
    cursor: pointer;
    color: #7B4F17;
}

.deck-text {
    font-size: 22px;
}

.icon-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 45px;
}
